body{
  background-image: url('../../assets/images/Pokémon-Journey.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: overlay;
}
.container {
  /* background-image: url('../../assets/images/Pokémon-Journey.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  color: #3b4cca;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pokemonList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.pokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid #3b4cca;
  border-radius: 15px;
  background-color: #ffffff;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.pokemonImage {
  width: 100px;
  height: 100px;
}

.pokemonName {
  font-size: 1.5rem;
  color: #3b4cca;
  margin-top: 0.5rem;
}

.pokemonType {
  font-size: 1rem;
  color: #ffcb05;
  margin-top: 0.5rem;
}
