.searchContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.searchForm {
  display: flex;
  border: 2px solid #f2cb05;
  border-radius: 25px;
  background-color: #3b4cca;
  padding: 5px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.searchInput {
  flex: 1;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  background-color: #f2cb05;
  color: #3b4cca;
}

.searchButton {
  background-color: #f2cb05;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #d1b204;
}
